<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.digitalcoursefile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DeleteFeedback"></activity>
        <activity android:name=".ViewFeedbackUser" />
        <activity android:name=".ProvideFeedback" />
        <activity android:name=".ViewFilesUser" />
        <activity android:name=".TrackRegistration" />
        <activity android:name=".AllFeedback" />
        <activity android:name=".ViewAllFiles" />
        <activity android:name=".ApproveCourses" />
        <activity android:name=".ManageCourses" />
        <activity android:name=".UpdatePhone" />
        <activity android:name=".EmailUpdate" />
        <activity android:name=".PasswordUpdate" />
        <activity android:name=".TrackCourseRegistration" />
        <activity android:name=".ViewRegisteredCourse" />
        <activity android:name=".CourseRegistration" />
        <activity android:name=".fileUpload" />
        <activity android:name=".UserApprovalAdapter" />
        <activity
            android:name=".AdminDashboard"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserRegister" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>